<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BattleBuddy</title>
    <!-- vendor css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/animate/animate.min.css">
    <!-- theme css -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body class="fixed-header">

<!-- header -->
<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
                    <a href="index.html" class="logo"><img src="img/logo_new_2.png" alt="Gameforest - Game Theme HTML"></a>
                    <nav class="nav">
                        <ul>
                            <li class="">
                                <a href="games.html">Home</a>
                            </li>

                            <li class="mega-menu mega-games">
                                <a href="home-blog.html">Battle Buddy</a>
                            </li>

                            <li class="">
                                <a href="videos.html">Feed</a>
                            </li>

                            <li><a href="forum-post.html">Form</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="nav navbar-right">
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item active" href="profile.html"><i class="fa fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="profile.html"><i class="fa fa-cog"></i> Settings</a>
                        <a class="dropdown-item" href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="navbar-search">
            <div class="container">
                <form method="post">
                    <input type="text" class="form-control" placeholder="Search...">
                    <i class="fa fa-times close"></i>
                </form>
            </div>
        </div>


    </div>
</header>
<!-- /header -->

<!-- main -->
<section class="bg-image bg-image-sm" style="background-image: url('img/bg/bg-login.png');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-4 mx-auto">
                <div class="card m-b-0">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fa fa-sign-in"></i> Login to your account</h4>
                    </div>
                    <div class="card-block">
                    	<p th:if="${param.error}">
            					Bad Credentials  
        				</p>
                        <form th:action="@{/login}" method="post">
                        
                            <div class="form-group input-icon-left m-b-10">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control form-control-secondary" placeholder="Username" name="username" id="username">
                            </div>
                            <div class="form-group input-icon-left m-b-15">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control form-control-secondary"
                                       placeholder="Password" id="password" name="password">
                            </div>
                            <label class="custom-control custom-checkbox custom-checkbox-primary">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Remember me</span>
                            </label>
                            <button type="submit" class="btn btn-danger btn-block m-t-10" id="login-btn">Login <i
                                    class="fa fa-sign-in"></i></button>
                            <div class="divider">
                                <span>Don't have an account?</span>
                            </div>
                            <a class="btn btn-danger btn-block" th:href="@{/register}" role="button">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /main -->

<!-- footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <h4 class="footer-title">About Battle Buddy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci blanditiis deleniti deserunt
                    error, exercitationem incidunt iusto libero modi molestiae repellendus, similique sunt suscipit
                    temporibus,
                    ut vero vitae voluptatem voluptates!
                </p>
                <p>Ab, beatae dolores expedita in minus necessitatibus.
                    Aliquam debitis doloribus, earum esse est ex illum impedit modi nam natus odio placeat quae quos
                    repellat tenetur unde veritatis voluptate voluptates voluptatibus?
                </p>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4 class="footer-title">Platform</h4>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li><a href="#">SUPPORT</a></li>
                            <li><a href="#">JOBS</a></li>
                            <li><a href="#">IMPRESSUM</a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="#">DONATE</a></li>
                            <li><a href="#">PRIVACY POLICY</a></li>
                            <li><a href="#">TERMS OF SERVICE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <h4 class="footer-title">Subscribe</h4>
                <p>Subscribe to our newsletter and get notification when new games are available.</p>
                <div class="input-group m-t-25">
                    <input type="text" class="form-control" placeholder="Email">
                    <span class="input-group-btn">
            <button class="btn btn-danger" type="button">Subscribe</button>
          </span>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-social">
                <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i
                        class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i
                        class="fa fa-twitter"></i></a>
                <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i
                        class="fa fa-steam"></i></a>
                <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i
                        class="fa fa-twitch"></i></a>
                <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i
                        class="fa fa-youtube"></i></a>
            </div>
            <p>Copyright &copy; 2017 <a
                    href="#" target="_blank">BattleBuddy</a>.
                All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- /footer -->

<!-- vendor js -->
<script src="plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="plugins/popper/popper.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- theme js -->
<script src="js/theme.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {

       

        $('#login-btn').click(function(){
            var username = $('#username').val();
            var password = $('#password').val();
            console.log(username);
        });
	});
</script>
</body>
</html>
