<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>BattleBuddy</title>
<!-- vendor css -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet"
	href="plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="plugins/animate/animate.min.css">
<!-- theme css -->
<link rel="stylesheet" href="css/theme.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body class="fixed-header">

	<!-- header -->
	<header id="header">
		<div class="container">
			<div class="navbar-backdrop">
				<div class="navbar">
					<div class="navbar-left">
						<a class="navbar-toggle"><i class="fa fa-bars"></i></a> <a
							th:href="@{/index}" class="logo"><img
							src="img/logo_new_2.png" alt="Gameforest - Game Theme HTML"></a>
						<nav class="nav">
							<ul>
								<li class=""><a href="games.html">Home</a></li>

								<li class="mega-menu mega-games"><a
									th:href="@{/battlebuddy}">Battle Buddy</a></li>

								<li class=""><a th:href="@{/feed}">Feed</a></li>

								<li><a th:href="@{/forum}">Forum</a></li>


							</ul>
						</nav>
					</div>
					<div class="nav navbar-right">
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item active" href="profile.html"><i
								class="fa fa-user"></i> Profile</a> <a class="dropdown-item"
								href="profile.html"><i class="fa fa-cog"></i> Settings</a> <a
								class="dropdown-item" th:href="@{/logout}"><i
								class="fa fa-sign-out"></i> Logout</a>
						</div>
					</div>
				</div>
			</div>


			<div class="navbar-search">
				<div class="container">
					<form method="post">
						<input type="text" class="form-control" placeholder="Search...">
						<i class="fa fa-times close"></i>
					</form>
				</div>
			</div>


		</div>
	</header>

	<!-- main -->
	<section class="hero hero-profile"
		style="background-image: url('img/bg/wp2548263.jpg');">
		<div class="overlay" style="opacity: 0.4;"></div>
		<div class="container">
			<div class="hero-block">
				<h5>
					<span th:text="${loggedUsername}"></span>
				</h5>
			</div>
		</div>
	</section>

	<section class="toolbar toolbar-profile" data-fixed="true">
		<div class="container">
			<div class="profile-avatar">
				<a href="#"><img src="img/user/avatar.jpg" alt=""></a>
				<div class="sticky">
					<a href="#"><img src="img/user/avatar-sm.jpg" alt=""></a>
					<div class="profile-info">
						<h5></h5>
						<span>@</span>
					</div>
				</div>
			</div>

			<ul class="nav nav-pills nav-justified justify-content-center">
				<li class="active"><a data-toggle="tab" href="#home">My
						Passes</a></li>
				<li><a data-toggle="tab" href="#add">Get a new pass</a></li>
				
			</ul>
		</div>
	</section>

	<div class="tab-content">

		<div id="home" class="tab-pane fade in active">
			<section class="p-y-30">
				<div class="container">
					<div class="row" style="margin-top: 50px;">

						<div class="col-lg-12">
							<!-- post -->
							<div class="post post-card post-profile" th:each="pass:${passes}">
								<div class="post-header">
									<div>
										<a href="profile.html"> <img src="img/user/avatar-sm.jpg"
											alt="">
										</a>
									</div>
									<div>
										<h2 class="post-title">
											<a href="profile.html" th:value="${userId}"></a>
										</h2>
										<div class="post-meta">
											<span th:text="${pass.issuedTime}"><i
												class="fa fa-clock-o"></i></span>
										</div>
										<div class="dropdown float-right">
											<a href="#" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Moderate</a> <a
													class="dropdown-item" href="#">Embed</a> <a
													class="dropdown-item" href="#">Report</a> <a
													class="dropdown-item" href="#">Mark as spam</a>
											</div>
										</div>
									</div>
								</div>
								<p th:if="${pass.isAccepted}">Permission Granted.</p>

								<div class="post-footer">
									<a href="#"><i class="fa fa-reply"></i> 34 shares</a> <a
										href="#"><i class="fa fa-comment-o"></i> 50 comments</a> <a
										href="#"><i class="fa fa-heart-o"></i> 523 likes</a>
								</div>
							</div>

							<div class="text-center">
								<a href="games.html"
									class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-b-20">Show
									More</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>



		<div id="add" class="tab-pane fade">
			<section>
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-8 col-md-4 mx-auto"
							style="margin-left: 300px !important;">
							<div class="card" style="width: 600px;">
								<div class="card-header">
									<h4 class="card-title">
										<i class="fa fa-user-plus"></i> Request A Pass
									</h4>
								</div>
								<div class="card-block">
									<form th:action="@{/addpass}" method="post">

										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-user"></i> <input type="date" name="date"
												class="form-control form-control-secondary"
												placeholder="Date">
										</div>

										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-user"></i> <input type="time" name="time"
												class="form-control form-control-secondary"
												placeholder="Time">
										</div>









										<button type="submit" class="btn btn-danger m-t-10 btn-block">Get
											Pass</button>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		

	</div>
	<!-- /main -->

	<!-- footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<h4 class="footer-title">About Battle Buddy</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
						adipisci blanditiis deleniti deserunt error, exercitationem
						incidunt iusto libero modi molestiae repellendus, similique sunt
						suscipit temporibus, ut vero vitae voluptatem voluptates!</p>
					<p>Ab, beatae dolores expedita in minus necessitatibus. Aliquam
						debitis doloribus, earum esse est ex illum impedit modi nam natus
						odio placeat quae quos repellat tenetur unde veritatis voluptate
						voluptates voluptatibus?</p>
				</div>
				<div class="col-sm-12 col-md-3">
					<h4 class="footer-title">Platform</h4>
					<div class="row">
						<div class="col">
							<ul>
								<li><a href="#">SUPPORT</a></li>
								<li><a href="#">JOBS</a></li>
								<li><a href="#">IMPRESSUM</a></li>

							</ul>
						</div>
						<div class="col">
							<ul>
								<li><a href="#">DONATE</a></li>
								<li><a href="#">PRIVACY POLICY</a></li>
								<li><a href="#">TERMS OF SERVICE</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<h4 class="footer-title">Subscribe</h4>
					<p>Subscribe to our newsletter and get notification when new
						games are available.</p>
					<div class="input-group m-t-25">
						<input type="text" class="form-control" placeholder="Email">
						<span class="input-group-btn">
							<button class="btn btn-danger" type="button">Subscribe</button>
						</span>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-social">
					<a href="https://facebook.com/yakuthemes" target="_blank"
						data-toggle="tooltip" title="facebook"><i
						class="fa fa-facebook"></i></a> <a
						href="https://twitter.com/yakuthemes" target="_blank"
						data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
					<a href="https://steamcommunity.com/id/yakuzi" target="_blank"
						data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
					<a href="https://www.twitch.tv/" target="_blank"
						data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
					<a href="https://www.youtube.com/user/1YAKUZI" target="_blank"
						data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
				</div>
				<p>
					Copyright &copy; 2017 <a href="#" target="_blank">BattleBuddy</a>.
					All rights reserved.
				</p>
			</div>
		</div>
	</footer>
	<!-- /footer -->

	<!-- vendor js -->
	<script src="plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="plugins/popper/popper.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- plugins js -->
	<script src="plugins/sticky/jquery.sticky.js"></script>
	<script src="plugins/lightbox/lightbox.js"></script>
	<script>
		(function($) {
			"use strict";
			// lightbox
			$('[data-lightbox]').lightbox({
				disqus : 'gameforestyakuzieu'
			});
		})(jQuery);
	</script>

	<!-- theme js -->
	<script src="js/theme.min.js"></script>
</body>
</html>
